#preface {
    font-style: italic;
}

h3 {
    text-align: center;
}

body {
    color: #FEFEFF;
    background: linear-gradient(to left, rgba(41, 42, 54, 1),
    rgba(41, 42, 54, 0)), url(undefined\ -\ Imgur.png);
    background-position: 29%;
}

form {
    font-family: 'Poppins', sans-serif;
    /* border-color: black; */
}

#radio-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 15px;
    justify-content: center;
}

.radio {
    display: block;
    position: relative;
    padding: 0 25px 0 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  /* Create a custom radio button */
.bullet {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
.radio:hover input ~ .bullet {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
.radio input:checked ~ .bullet {
    background-color: #2196F3;
}

label {
    color: #abadb5;
}

.boxes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
}
.boxes input:hover {
    border-color: #7B7E89;
    border-width: 2px;
}
.boxes input:focus {
    outline: none;
    border: 2px solid #5876A5;
    /* box-shadow: #5876A5; */
}

.input-group {
    position: relative;
}
.input-group label {
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    font-size: .6rem;
}
.input-group input {
    display: block;
    color: #FEFEFF;
    background-color: #343644;
    border-radius: 15px;
    height: 2.3rem;
    border-width: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #292A36;
    /* font-weight: bold; */
    padding: .3rem 1rem 0 1rem;
}

#submitButton {
    text-align: center;
    padding-top: 20px;
}
#submitButton > input {
    background-color: #2196F3;
    border-color: #2196F3;
    border-style: solid;
    color:#FEFEFF;
    border-radius: 25px;
    height: 2rem;
    width: 6rem;
}
#submitButton > input:hover {
    cursor: pointer;
}

/* .asterisk::before {
    content:" *";
    color: red;
  } */

  /* IPHONE FORM VIEW */

  /* 2532x1170 pixels at 460ppi */
  @media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) { 
    .boxes {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }
    .boxes input {
        width: 87%;
    }
    .input-group {
        margin-left: 10px
    }
    input[type='text'],
    input[type='number'],
    input[type='date'],
    input[type='email'],
    input[type='tel'],
    textarea {
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px #343644 inset !important;
        box-shadow: 0 0 0 30px #343644 inset !important;
        background-color: #343644 inset !important;
        -webkit-text-fill-color: #FEFEFF !important;
    }
  }




  /* ignore below */

  /* <div class="input-group">
  <!-- first name -->
  <label for="fName">First name</label>
  <input type="text" name="fName" id="fName" class="asterisk" required>
</div>
<div class="input-group">
  <!-- middle name -->
  <label for="mName">Middle name</label>
  <input type="text" name="mName" id="mName">
</div>
<div class="input-group">
      <!-- last name -->
  <label for="lName">Last name</label>
  <input type="text" name="lName" id="lName" required>
</div> */